
h1{
    color: green;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* .containerboton{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* .botonesprimero{
    margin: 30px;
    margin-right: 50px;
    flex-direction: column;
}
.botonessegundo{
    margin: 30px;
    margin-right: 30px;
    flex-direction: column;
} 


#enviar{

    margin-left: 40px;
}

#alarma{
    
}
#verh{
    width: 120px;
    margin-left: 40px;
} */